
<div class="ctn-filter">
    <div class="header-container">
  
        <form (submit)="onSubmit()" #userForm= 'ngForm'>
          <mat-form-field>
              <input matInput placeholder="Nombres" name="Nombres" required [(ngModel)]="userData.nombres">
          </mat-form-field>
        
          <mat-form-field>
              <input type="text" matInput placeholder="Apellidos" name="Apellidos" required [(ngModel)]="userData.apellidos">
          </mat-form-field>

          <mat-form-field>
              <input type="text" matInput placeholder="Telefono" name="Telefono" required [(ngModel)]="userData.telefono">
          </mat-form-field>
        
          <mat-form-field>
              <input type="text" matInput placeholder="Correo" name="Correo" required [(ngModel)]="userData.credencial.correo">
          </mat-form-field>

          <mat-form-field>
            <input type="text" matInput placeholder="Password" name="Password" required [(ngModel)]="userData.credencial.password">
          </mat-form-field>
          
          <mat-form-field>
              <input type="text" matInput placeholder="Pais" name="Pais" required [(ngModel)]="userData.localidad.pais">
          </mat-form-field>

          <mat-form-field>
            <input type="text" matInput placeholder="Ciudad" name="Ciudad" required [(ngModel)]="userData.localidad.ciudad">
          </mat-form-field>
      
          <mat-form-field>
            <input type="text" matInput placeholder="Dirreccion" name="Dirreccion" required [(ngModel)]="userData.localidad.direccion">
          </mat-form-field>
    
        <ng-container *ngIf="isEditMode; else elseTemplate">
            <button mat-button color="primary">Update</button>&nbsp;
            <button mat-button color="warn" (click)="cancelEdit()">Cancel</button>
        </ng-container>&nbsp;
    
        <ng-template #elseTemplate>
            <button mat-button color="primary">Add</button>
        </ng-template>
    </form>

      <!-- <button mat-fab extended color="primary" class="button-container">
        <p>Añadir Usuario</p>
        <mat-icon>add</mat-icon>
      </button> -->
  
    </div>
  </div>

  <div class="filter">
    <mat-form-field class="ctn-input">
      <mat-label>Busca un Usuario</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ejem: Juan Perez"
        aria-label="Search for users" #input>
    </mat-form-field>
  </div>
  
  
<div class="table-container">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort matSortDirection="desc">
  
        <ng-container matColumnDef="Usuario_id" class="container-id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-id"> Id. </th>
          <td mat-cell *matCellDef="let element" class="center-text"> {{element._id}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Nombres" class="container-name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-name"> Nombres </th>
          <td mat-cell *matCellDef="let element" class="center-text"> {{element.nombres}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Apellidos" class="container-lastname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-lastname"> Apellidos </th>
            <td mat-cell *matCellDef="let element" class="center-text"> {{element.apellidos}} </td>
          </ng-container>
  
        <ng-container matColumnDef="Correo" class="container-correo">
          <th mat-header-cell *matHeaderCellDef class="center-text"> Correo </th>
          <td mat-cell *matCellDef="let element" class="center-text"> {{element.credencial.correo}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Numero_telefono" class="container-telefono">
          <th mat-header-cell *matHeaderCellDef class="header-numTelf"> Numero de Telefono </th>
          <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
        </ng-container>

          <ng-container matColumnDef="Pais">
            <th mat-header-cell *matHeaderCellDef class="center-text"> Pais </th>
            <td mat-cell *matCellDef="let element" > {{element.localidad.pais}} </td>
          </ng-container>
  
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef class="center-text"> Acciones </th>
          <td mat-cell *matCellDef="let element">
  
            <div class="buttons-actions">
              <button mat-icon-button color="primary" (click)="editItem(element)">
                <mat-icon>edit</mat-icon>
              </button>
  
              <button mat-icon-button color="warn" (click)="openDialogDelete(element._id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
  
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">
            <div class="not-found">
              <p class="msg-not-found">The user was not found:<br> <b>"{{input.value}}" </b></p>
              <div class="crop-image">
                <img src="https://cdn.discordapp.com/attachments/1151660063606448158/1154528522698772510/not-found.png"
                  alt="image not-found">
              </div>
            </div>
          </td>
        </tr>
  
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of periodic elements"></mat-paginator>
    </div>
  </div>