<!-- <div  class="header">
  <img src="./../../../assets/img/uma-logo.png" alt="" width="120px" routerLink="home">
  <div class="nav-bar">
    <a  routerLink="home" aria-label="Bottom to Home">Home</a>
    <a  routerLink="users" aria-label="Bottom to Users">Users</a>
    <a  routerLink="publications" aria-label="Bottom to Users">Publications</a>
    <a  routerLink="products" aria-label="Bottom to Products">Products</a>
  </div>
</div> -->

<div class="card">
  <p-toolbar aria-label="flex w-screen	">

    <div class="snack ">
      <p-sidebar [(visible)]="sidebarVisible" styleClass="w-15rem 	">
        <div class="flex flex-column	gap-5	 justify-content-center  align-content-center	">
          <a  routerLink="home" aria-label="Bottom to Home">Inicio</a>
          <a  routerLink="users" aria-label="Bottom to Users">Usuarios</a>
          <a  routerLink="publications" aria-label="Bottom to Users">Publicaciones</a>
          <a  routerLink="products" aria-label="Bottom to Products">Productos</a>
        </div>
      </p-sidebar>
      <a (click)="sidebarVisible = true" >
        <i class="pi pi-bars"  style="font-size: 1.7rem"></i></a>
    </div>

    <div class="flex justify-content-center">
      <img src="./../../../assets/img/uma-logo.png" alt="" width="120px" routerLink="home">
    </div>

  </p-toolbar>
</div>