/* 
.header{
  padding: 10px 20px;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: wheat;
}

.nav-bar{
  display: flex;
  align-content: center;
  gap: 50px;
  
}
a{
  color: black;
} */
img:hover{
  cursor: pointer;
}
i{
  color: white;
}

:host ::ng-deep .p-toolbar {
  background-color: wheat	;
  border:  wheat 2px solid;
}

:host ::ng-deep .p-sidebar {
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1.2rem;
  
}
a:hover{
  cursor: pointer;
}