<div class="footer">
    <div class="container-information">
        <div class="about-uma">
            <a href="#">Políticas de Privacidad</a>
            <a href="#">Políticas de Calidad</a>
            <a href="#">Términos y Condiciones</a>
        </div>
        <div class="brand-social">
            <img src="./../../../assets/img/uma-logo.png" alt="" width="100px">
            <div class="icons">
                <a href="https://www.facebook.com/" ><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
                <a href="https://twitter.com/?lang=es"><i class="bi bi-twitter"></i></a>
            </div>
        </div>
        <div class="contact-uma">
            <a href="#">Blog</a>
            <a href="#">Contacto</a>
            <a href="#">Preguntas Frecuentes</a>
        </div>
    </div>
    <div class="foot-rights">
        <p id="">
            UMA.pe © 2023 ATIQ. Todos los derechos reservados.
        </p>
    </div>
</div> 