.btn-detalle{

    align-self: center;
    text-align: center;
    width: 50%;
    background-color: #ff9900b2;
    color: white;
}
.btn-detalle:hover{
    cursor: pointer;
}


.ctn-filter{
    margin-top : 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

.header-container{
    display: flex;
    justify-content: center;
}

.btn-precio{
    align-self: center;
    text-align: center;
    width: 50%;
    background-color: antiquewhite;
    color: black;
}