<div id="carouselExample" class="carousel slide">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://media.discordapp.net/attachments/1151996567549648996/1155426252426063932/slide3-990x410.jpg?width=1485&height=615" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://media.discordapp.net/attachments/1151996567549648996/1155426252736434186/slide2-990x410.jpg?width=1485&height=615" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://media.discordapp.net/attachments/1151996567549648996/1155426252992303114/slide1-990x410.jpg?width=1485&height=615" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  

  <div class="container">
    <h2>Productos Destacados</h2>
    <div class="row">
      <div class="col-md-4 " *ngFor="let store of stores">
        <div class="card rounded mb-4">
          <div class="card-header">
            <h4 class="card-title text-center">{{  store.nombre | uppercase }}</h4>
          </div>
          <div class="card-body ">
            <img src="{{ store.imagen }}" class="card-img-top" alt="" width="auto" height="auto">
          </div>
          <div class="card-footer d-flex flex-column gap-3 ">
            <div class="calificacion d-flex flex-row gap-2 mt-2 justify-content-center align-items-center">
                <ng-container *ngFor="let i of [].constructor(store.calificacion)">
                  <i class="bi bi-star-fill text-center" style="font-size: 1.5rem; color: #FFC700;"></i>
                </ng-container>
              
            </div>
            <div class="btns d-flex gap-5">
              <a href="#" class="btn btn-detalle">Ver Tienda</a>
              <!-- <a href="#" class="btn btn-detalle">Seguir</a> -->
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
  