a{
    text-decoration: none;
}
.btn{
    margin-top: 2rem;
}
.btn-precio{
    margin-top: 100px;
    padding: .5rem .8rem;
    border-radius: 1rem;
    background-color: #ff9800;
    color: white;

}

.btn-precio:hover{
    cursor: pointer;
}

